#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid {
  width: fit-content;
  justify-self: center;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 2em;
}

.row {
  width: fit-content;
  padding: 0;
  margin: 0;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
}

.cell {
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #ccc;
    user-select: none;
    width: 48px;
    height: 48px;
    line-height: 48px;

    background-color: inherit;
}


.keyboardLayout {
  display: flex;
  flex-flow: column;
    justify-content: center;
    align-items: center;
  gap: 5px;
}

.keyboardRow {
  display: flex;
  gap: 5px;
}

.key {
  width: auto;
  min-width: 58px;
  height: 58px;
  line-height: 58px;
  border-radius: 4px;
  padding: 0 12px;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #ccc;
    user-select: none;
    background-color: #666;
}

.correct {
  background-color: #538d4e;
}
.notfound {
  background-color: #383838;
}
.misplaced {
  background-color: #c9b458;
}

.error {
  background-color: rgb(142, 25, 49);
  display: inline-block;
  padding: 2px 12px;
  border-radius: 16px;
  margin: 0;
}